/* MIRLabNewsHomePage.module.css */
.mirLabNewsHomePageSection{
  width: 100%;
}
.mirLabBanner {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/03/78/67/89/360_F_378678986_F2V3TjO7tYQRdXkd5Kg5QowEqPGOe8lv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mirLabBannerLinks {
  position: absolute;
  top: 100px;
  left: 4%;
  font-size: 1rem;
  color: #ddd;
}

.mirLabBannerLinks a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
  display: inline-block;
}

.mirLabBannerLinks a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.mirLabBannerLinks a:hover {
  color: var(--hover-color);
}

.mirLabBannerLinks a:hover::after {
  width: 100%;
  background-color: var(--hover-color);
}

.mirLabBannerLinks a:nth-child(1) {
  --hover-color: #4aa4ff;
}

.mirLabBannerLinks a:nth-child(3) {
  --hover-color: #ff6347;
}

.mirLabBannerContentColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.mirLabBannerContentCol_1 {
  width: 96%;
  padding-left: 4%;
}

.mirLabBannerContentCol_1 h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  animation: fadeIn 1.5s ease-in-out;
}

.mirLabBannerContentCol_1 p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.5;
  animation: fadeIn 2s ease-in-out;
}

.mirLabBannerContentCol_1 button {
  color: #ffffff;
  border: 0.5px solid white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  align-self: flex-start;
  background: rgb(0, 0, 0);
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  animation: fadeIn 2s ease-in-out;
}

.mirLabBannerContentCol_1 button:hover {
  background-position: left;
  color: #000000;
}

.mirLabBannerContentCol_2 {
  width: 96%;
  margin-right: 4%;
  border-radius: 10px;
}

.mirLabBannerContentCol_2 img {
  width: 92%;
  height: fit-content;
  padding: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .mirLabBannerContentColumn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 150px;
  }
  .mirLabBannerContentCol_1 {
      width: 100%;
      padding-right: 4%;
  }
  .mirLabBannerContentCol_2 {
      width: 100%;
      margin: auto;
      border-radius: 10px;
      margin-bottom: 30px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 83px;

}

.sectionHeader {
  max-width: 400px;
  margin-bottom: 20px;
}

.sectionHeader h1 {
  font-size: calc(18px + 1vw);
  font-weight: 600;
  color: #444;
  
  text-align: left;
}

.searchBar {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  transition: transform 0.2s ease;
}

.box:hover {
  transform: scale(1.02);
}

.image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.box:hover .image img {
  transform: scale(1.1);
}

.content h3 {
  font-size: 20px;
  color: #334;
  margin-bottom: 10px;
}

.content p {
  font-size: 15px;
  color: #777;
  line-height: 1.6;
  padding: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.icons span {
  font-size: 14px;
  color: #777;
}

.buttonsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.loadMore, .showLess {
  display: inline-block;
  margin: 0 10px;
  padding: 13px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loadMore:hover, .showLess:hover {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}

@media (max-width: 450px) {
  .sectionHeader h1 {
    font-size: 20px;
  }

  .boxContainer {
    grid-template-columns: 1fr;
  }

  .image {
    height: 200px;
  }

  .content p {
    font-size: 14px;
  }

  .icons span {
    font-size: 12px;
  }
}
