.sectionHeader {
  max-width: 500px;
  display: block;
  margin-bottom: 30px;
  background-color: #D9D9D9;
}

.sectionHeader h1 {
  color: #0a2534;
  font-size: calc(18px + 1vw);
  font-weight: 600;
  cursor: pointer;
  
}



.cards {
  width: 100%;
  
  margin-bottom: 20px;
}

.cardsContents {
  display: flex;
  padding: 20px 4%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardBox {
  flex-basis: calc(25% - 2%);
  padding: 20px;
  background: rgba(247, 249, 229, 0.659);
  box-shadow: 0 2px 20px rgba(151, 151, 151, 0.351);
  border-radius: 10px;
  transition: transform 0.3s, background 0.3s;
  margin-bottom: 20px;
}

.cardBox:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #0a2534, #446272);
  color: white;
}

.cardBoxTop {
  text-align: center;
}

.cardBoxTop img {
  width: 100%;
  object-fit: cover;
}

.cardDesc {
  margin-top: 20px;
}

.cardDesc h2 {
  font-size: calc(18px + 0.2vw);
  margin-bottom: 10px;
}

.cardDesc p {
  font-size: 15px;
  line-height: 1.4;
}

.cardBox:hover .cardDesc h2,
.cardBox:hover .cardDesc p {
  color: white;
}

.cardBtn {
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  color: white;
  background-color: rgb(248, 116, 1);
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.3s;
}

.cardBtn:hover {
  background-color: #1d1d1d;
}

@media (max-width: 1100px) {
  .cardBox {
    flex-basis: calc(33.33% - 2%);
  }
}

@media (max-width: 850px) {
  .cardBox {
    flex-basis: calc(50% - 2%);
  }
}

@media (max-width: 560px) {
  .cardBox {
    flex-basis: 100%;
  }
}
