.dashBoardPage{
  width: 100%;
  min-height: 100vh;
  background-color:#394b57;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashBoardPage h1{
  font-size: 2.2rem;
  color: rgb(255, 130, 21);
}

.dashBoardPage button{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  background-color:rgb(255, 152, 61);
  color: black;
}

.dashBoardPage button:hover{
  background-color:rgb(255, 255, 255);
  color: black;
  
}
