
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannerSection {
  width: 100%;
  height: 100vh; 
  position: relative;
  background-image: url("../../assets/photos/Home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  z-index: 1;
}

.bannerText {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  /* background-color: rgba(0, 0, 0, 0.5); Add a dark overlay for better readability */
}

.bannerText h1 {
  color: #f3f9ff;
  font-size: calc(30px + .8vw); 
  font-weight: 600;
}

.bannerText button {
  color: #ffffff;
  border: 0.5px solid white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  align-self: flex-start;
  background: rgb(0, 0, 0); 
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
}

.bannerText button:hover {
  background-position: left;
  color: #000000;
}
